.container-contactos{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-template-rows: auto;
    
    grid-template-areas:
      "nombre-contacto subtitulo"
      "mail-contacto mapa-contacto"
      "telefono-contacto mapa-contacto"
      "mensaje-contacto mapa-contacto"
      "boton mapa-contacto";

.nombre-contacto{
    grid-area: nombre-contacto;
    padding: 10px;
    margin: 20px;
    @include texto;
}
.mail-contacto{
    grid-area: mail-contacto;
    padding: 10px;
    margin: 20px;
    @include texto;
}
.telefono-contacto{
    grid-area: telefono-contacto;
    padding: 10px;
    margin: 20px;
    @include texto;
}
.mensaje-contacto{
    grid-area: mensaje-contacto;
    padding: 10px;
    margin: 20px;
    @include texto;
}
.boton{
    grid-area: boton;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
.subtitulo{
    grid-area: subtitulo;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include subtitulos;
    
}
.mapa-contacto {
    grid-area: mapa-contacto;
    display: flex;
    justify-content: center; 
    align-items: center;      
    padding: 10px;            
    margin: 0 auto;           
}

.mapa-contacto iframe {
    max-width: 100%;          
    height: auto;             
}


}

@media (max-width:768px){
    .container-contactos{
      width: 100vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "nombre-contacto"
      "mail-contacto"
      "telefono-contacto"
      "mensaje-contacto"
      "boton"
      "subtitulo"
      "mapa-contacto";
    
    }
    .nombre-contacto{
        grid-area: nombre-contacto;
        
    }
    .mail-contacto{
        grid-area: mail-contacto;
     
    }
    .telefono-contacto{
        grid-area: telefono-contacto;
       
    }
    .mensaje-contacto{
        grid-area: mensaje-contacto;
     
    }
    .boton{
        grid-area: boton;
       
    }
    .subtitulo{
        grid-area: subtitulo;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        
    }
    .mapa-contacto {
        grid-area: mapa-contacto;
        display: flex;
        justify-content: center; 
        align-items: center;      
        padding: 10px;            
        margin: 0 auto;           
    }

    }