header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $bg-claro;
    width: 100%;

    .logo{
        background-color: $bg-transparente;
        img{
            width: 100px;
            margin: 25px;

        }
    }
    .titulo{
        font-family: $fuente-anton;
        font-weight: 200;
        font-style: normal;
    }
    .nav-link-pablo{
        text-decoration: none;
        font-family: "Titillium Web", sans-serif;
        font-size: 20px;
        font-style: normal;
        color: black;
        font-weight: bold;
        align-content: last baseline;
        justify-content: space-between;
        padding: 10px;
    }
    .nav-link-pablo:hover{
        color:blue
      }
}