@import "mixin";

.container-index {
    display: grid;
    margin: 0px 50px 0px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
      "Imagen-inicial Imagen-inicial Imagen-inicial"
      "Imagen-predictivo Imagen-correctivo Imagen-instalacion"
      "Texto-predictivo Texto-correctivo Texto-instalacion"
      "referencias-comerciales referencias-comerciales referencias-comerciales";    
  

    .Imagen-inicial{
        grid-area: Imagen-inicial;
        display: flex;
        flex-direction: column;
        padding: 15px auto;
        margin-top: 50px;
        margin-bottom: 50px;
        .subtitulo{
           @include subtitulos;
            text-align: center;
            margin-bottom: 15px;
           
        }

        img {width: 600px;
            display: block;
            margin: 25px auto;
       }
        p{
            text-align: justify;
            font-size: 1.6rem;
            padding: 2px auto;
            margin: 20px 20px 20px 20px;
            @include texto;
            line-height: 2;
        }
    }
    .Imagen-predictivo{
        grid-area: Imagen-predictivo;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;

        img { width: auto;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
        
    }

    .texto-predictivo{
        grid-area: Texto-predictivo;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-align: justify;
        font-size: 1.2rem;
        padding: 2px auto;
        margin: 20px 20px 20px 20px;
        @include texto;
        line-height: 2;
        }
    
    .Imagen-correctivo{
        grid-area: Imagen-correctivo;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
    
        img { width: auto;
            height: 300px;
            display: block;
            margin: 0 auto;}
    }

    .texto-correctivo{
        grid-area: Texto-correctivo;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-align: justify;
            font-size: 1.2rem;
            padding: 2px auto;
            margin: 20px 20px 20px 20px;
            @include texto;
            line-height: 2;
    }

    .Imagen-instalacion{
        grid-area: Imagen-instalacion;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
    
        img { width: auto;
            height: 300px;
            display: block; 
            margin: 0 auto;}

        
    }
    .texto-instalacion{
        grid-area: Texto-instalacion;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-align: justify;
        font-size: 1.2rem;
        padding: 2px auto;
        margin: 20px 20px 20px 20px;
        @include texto;
        line-height: 2;
    }
    .referencias-comerciales{
        grid-area: referencias-comerciales;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 75px;
        padding-bottom: 25px;
    
        .subtitulo{
            @include subtitulos;
            text-align: center;
            
        }
        img{
            width: auto;
            height: 200px;
            display: block; 
            margin: 20px auto; 

        }
    }

}

