@mixin subtitulos{
    color: $color-claro;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: $color-claro;
    font-size: 2.3rem;
}

@mixin texto {
    color: $color-claro;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 1.2rem;
    
}

@mixin fondo{
    background: $bg-fondo;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin subtitulo2{ color: $color-claro;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: $color-claro;
    font-size: 1.5rem;

}