@import "mixin";



.sobre-nosotros{

    .historia{
       
        .subtitulo{
            @include subtitulos;
            text-align: center;
            margin: 50px;
        }
        .imagen-historia{
            padding: 10px;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            img{
                width: 450px;
            }
        }
        .parrafo-historia{
            .texto{
                @include texto;
                line-height: 2;
                padding: 5px;
                margin: 25px;
                text-align: justify;
            }
        }
    }

    .objetivo{
        .subtitulo{ @include subtitulos;
            text-align: center;
            margin: 15px auto;
        }

        .imagen-objetivo{
            display: flex;
            padding: 10px auto;
            justify-content: center;
            align-items: center;
            margin: 15px auto;
            img{
                width: 300px;
            }
        }

        .parrafo-objetivo{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }
            img{
              
                height: 200px;
                width: auto;
            }
        }

    }


    .principios-valores{
        .subtitulo{
            @include subtitulos;
            text-align: center;
            margin: 15px auto;
        }
        .valor1{
            display: flex;
            margin: 25px;
            .img-pb{
                width: 300px;
            }
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }

        }

        .valor2{
            display: flex;
            margin: 25px;
            flex-direction: row-reverse;
            .img-pb{
                width: 300px;
            }
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }

        }

        .valor3{
            display: flex;
            margin: 25px;
            flex-direction: row-reverse;
            .img-pb{
                width: 300px;
            }
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }

        }

        .valor4{
            display: flex;
            margin: 25px;
            flex-direction: row-reverse;
            .img-pb{
                width: 300px;
            }
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }

        }

        .valor5{
            display: flex;
            margin: 25px;
            .img-pb{
                width: 300px;
            }
            .texto{
                @include texto;
                line-height: 2;
                margin: 15px 15px 15px 15px;
                text-align: justify;
            }

        }


    }
}  